{% import "components/form/fields_macros.html.twig" as fields %}
{% import "@cotrisoja/components/macro.html.twig" as macros %}

<form name="asset_form" style="width: 100%;" class="ms-3 d-flex flex-column" method="post" action="{{ itemtype.getFormURL() }}" enctype="multipart/form-data" data-track-changes="true" data-submit-once>  
    <input type="hidden" name="itemtype" value="{{ itemtype.getType() }}" />
    <input type="hidden" name="items_id" value="{{ id }}" />
    <input type="hidden" name="_no_message_link" value="1" />   

    {% for field in fields_table %}          
        {% if field.type == 'text' %}            
            {{ macros.inputText(field.name, field.label, field.value) }}
        {% elseif field.type == 'date' %}
            {{ macros.inputDate(field.name, field.label, field.value) }}
        {% elseif field.type == 'dropdown' %}
            {{ fields.dropdownField(
                field.item,
                field.name,
                field.value,
                field.label                
            ) }}
        {% elseif field.type == 'number' %}
            {{ macros.inputNumber(field.name, field.label, field.value) }}
        {% endif %}
    {% endfor %}

    {% for field in other_fields %}
        {% if field.type == "quantity" %}
            {{ fields.dropdownNumberField(
                field.name,
                '',
                field.label
            ) }}
        {% else %}
            {% if item.display == none %}
                {% set displayNone = 'display:none;' %}
            {% endif %}
            <input type="{{ field.type }}" name="{{ field.name }}" value="{{ field.value }}" style="{{ displayNone }}"/>
        {% endif %}
    {% endfor %}

    <div class="mt-2">
        {% if id <= 0 %}
            <button class="btn btn-primary me-2" type="submit" name="add">
                <i class="fas fa-plus"></i>
                <span>{{ _x('button', 'Add') }}</span>
            </button>
        {% else %}
            <div>
                <input type="hidden" name="id" value="{{id}}" />
                <button class="btn btn-primary me-2" type="submit" name="update">
                    <i class="far fa-save"></i>
                    <span>{{ _x('button', 'Save') }}</span>
                </button>
                <button class="btn btn-danger ms-auto" type="submit" name="delete">
                    <i class="fa fa-xmark me-1"></i>
                    <span>{{ _x('button', 'Delete') }}</span>
                </button>
            </div>
        {% endif %}
    </div>

    <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}" />
</form>
