{% import "components/form/fields_macros.html.twig" as fields %}

<form name="asset_form" class="ms-3 d-flex flex-column w-50" method="post" action="{{ itemtype.getFormURL() }}" enctype="multipart/form-data" data-track-changes="true" data-submit-once>
    <input type="hidden" name="itemtype" value="{{ itemtype.getType() }}" />
    <input type="hidden" name="items_id" value="{{ id }}" />
    <input type="hidden" name="_no_message_link" value="1" />   
    <table>     
        <tr>   
            <td style="width: 40%">Itens:</td>
            <td>
                <table>
                    {% for resource in resources %}
                        {% set disabled = resource.availability == false ? 'disabled' : '' %}
                        {% set title_reserved = resource.availability == false ? "title='Recurso já reservado nesse horário'" : '' %}
                        {% set icon_reserved = resource.availability == false ? '<i class="fa-regular fa-clock"></i>' : '' %}
                        
                        <tr {{ title_reserved|raw }}>
                            <td>
                                <input class="form-check-input" type="checkbox" id="{{ resource.id }}_{{ resource.for }}" name="resource_id_{{ resource.id }}_{{ resource.for }}" value="{{ resource.id }}" {{ disabled }} />  
                            </td>
                            <td>
                                <label class="form-check-label d-inline ms-2" for="{{ resource.id }}_{{ resource.for }}">{{ resource.name }}</label>
                                {{ icon_reserved|raw }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        {% if itemtype == 'PluginGenericobjectSala' %}
            <tr id="tr_quantity">
                <td>Quantidade de Pessoas: </td>        
                <td>
                    {{ fields.dropdownNumberField(
                        'people_quantity',
                        '1',
                        ''
                    ) }}
                </td>   
            </tr>
        {% endif %}
    </table>
    <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}" />
    <button class="btn btn-primary mt-3 me-auto" type="submit" name="add">
        <i class="fas fa-plus"></i>
        <span>{{ _x('button', 'Add') }}</span>
    </button>        
</form>

<div class="modal fade" id="modalCalendar" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="calendar"></div>
      </div>      
    </div>
  </div>
</div>

<script>
    console.log({{ resources|json_encode|raw }})
    function getRecoursesAvailability(resourceID) {
        $.get("{{ path('/plugins/fillglpi/ajax/resources.php') }}", {resourceCalendarID: resourceID}, function(response) {
            $("#calendar").empty();     
            response.forEach((i) => {
                $("#calendar").append(`
                    <tr>
                        <td class="p-2">${i.begin}</td>
                        <td class="p-2">${i.end}</td>
                    </tr>
                `);
            });
        }).fail(function(jqXHR, textStatus, errorThrown) {
            console.error("Erro na requisição AJAX:", errorThrown);
            alert("Ocorreu um erro ao verificar a disponibilidade do recurso. Por favor, tente novamente.");
        });
    }
</script>